body {
  background-color: #fefefe;
  color: #333; 
}
.main {
  width: 100%;
  max-width: 700px;
  margin: 32px auto;
  padding-top: 50px;
}

.about__header, .diaryHeader {
  color: #1460aa;
  position: relative;
}

.header {
  background-color: yellow;
  margin: 45px 0 0 0;
}
.heading {
  color: #00487c;
  margin-bottom: 48px;
}
.thirdHeader {
  color: #0496ff;
}
.nawigation__link{
  color: #1a936f ;
}

.paragraph {
  padding: 16px;
  overflow: hidden;
}

.box {
  background-color: #1a936f;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid red;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  left: 0;
}

.top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #1a936f;
  text-decoration: none;
}

.navigation {
  position: fixed; 
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 16px;
  background: #fff;
}

.diary {
  clear: both;
}

.about { 

}

.about__header {
  color: #1460aa;
}

.about__paragraph {
  padding: 16px;
  font-size: 20px;
}

.about__paragraph--mini {
  font-size: 16px;
}

.about__picture {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  margin: 0 16px 16px 0;
}
